.app__scrollTop a{
    position: fixed;
    bottom: 50px;
    right: 25px;
    cursor: pointer;
    z-index: 3;
    animation: 1s ease-out 0s 1 fadeIn; 
}


@media screen and (max-width: 650px) {
    .app__scrollTop a{
        bottom: 10px;
        right: 10px;
    }
  }