.modal__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-accent-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  color: var(--color-accent-dark);
  font-size: 40px;
  min-width: 20%;
  min-height: 20%;
  border: 1px solid var(--color-accent-dark);
  border-radius: 18px;
}

.modal__content h2 {
  padding: 1.5rem;  
  color: #564E4E;
}

body.active-modal {
  overflow-y: hidden;
}